<div class="panel panel-default">
	<div class="panel-body">
		
		Hello Alpha,
		<br><br>
		If you are The One Setting Up The Teamlog, the odds are that you already have read the <strong>README.md</strong>. If not, that's your <strong>step 1</strong>.
		<br><br><br>
		
		Allright. Time to select your poison of choice.
		<br><br>
		
		<form>
			<div class="input-group">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Store API <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="#">Dropbox</a></li>
						<li><a href="#">Google Drive</a></li>
					</ul>
				</div><!-- /btn-group -->
				<input type="text" class="form-control" aria-label="..." placeholder="access token">
			</div>
			
			<input type="submit" class="btn btn-primary pull-left" value="Set Up">
		</form>
		
	</div>

	<div class="panel-footer">
		<small>
			<strong>First-time use</strong><br>
			If you don't know what you're doing, slowly walk away from this page. You'll only end up installing your own version of the teamlog, not automagically hacking the {{appname}}.
		</small>
	</div>
</div>