/**
 *	Define (and override) Variables
 */
@import '../vendor/ui-donderstarter/src/css/fonts';
@import '../vendor/ui-donderstarter/src/css/variables';


/**
 *	Import vendor dependencies
 */
@import '../vendor/bootstrap/dist/css/bootstrap.min';
@import '../vendor/backgrid/lib/backgrid';
@import '../vendor/chosen/chosen';


/**
 * Variable over-rides
 */
$white: #fefeff;
$light-grey: #dcdcdc;
$dark-color: #4a4a4a;

/**
 *	Import font and icon dependencies
 *	Import style files
 */
@import '_navigation';
@import '_cover';
@import '_style';


